<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{.Username}}</title>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body>
    <label for="file">
      <img height="200" width="200" id="avatar" src="/img/{{.File}}.jpg">
      {{if .Edit}}
        <input id="file" type="file" accept="image/jpeg">
      {{end}}
    </label>
    <p>username: {{.Username}}</p>
    <p>mail: {{.Mail}}</p>
    <p>class: {{.Class}}</p>
    {{if .Confirm}}
      <p>Почта подтверждена</p>
    {{else}}
      <p>Подтверди почту, пидорас</p>
    {{end}}
  </body>
  <script type="text/javascript" src="/js/profile.js"></script>
</html>
