<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Register</title>
	</head>
	<body>
		<form action="/register" method="post">
			<span>Name</span>
			<input type="text" name="name" placeholder="Иванов Иван Иванович">
			<span>Nickname</span>
			<input type="text" name="nickname" placeholder="nickname...">
			<span>Password</span>
			<input type="password" name="password" placeholder="password">
			<span>Repeat password</span>
			<input type="password" name="repeat" placeholder="repeat password">
			<span>Class</span>
			<select name="class">
				{{range .Classes}}
				<option value="{{ .Id }}">{{ .Name }}</option>
				{{end}}
			</select>
			<input id="term" type="checkbox" name="terms-of-use">
			<label for="term">
				I have read and agreed to the
				<a href="#">
					Terms of Use
				</a>
			</label>
			<button>
				Register
			</button>
		</form>
		{{range .Messages}}
			<span>{{ . }}</span>
		{{end}}
	</body>
</html>
